# SKM-TEA 
# Pobierane automatycznie z Hugging Face przez paczkę huggingface_hub. 
# Nie wymaga podawania linków tutaj!

# fastMRI (Wymaga linków z NYU Langone. Wygasają po 90 dniach)
# 1. Paczka Mini (Smoke test) - Wklej tutaj link (lub linki w nowej linii w cudzysłowie)
FASTMRI_MINI_URLS="
https://link1
https://link2
"

# 2. Pełny Klaster (Full) - Wklej wszystkie linki zaczynając od nowej linii (całość w cudzysłowie)
FASTMRI_FULL_URLS="
https://link1
https://link2
https://link3
"
