# SKM-TEA 
# Pobierane automatycznie z Hugging Face przez paczkę huggingface_hub. 
# Nie wymaga podawania linków tutaj!

# fastMRI (Wymaga linków z NYU Langone. Wygasają po 90 dniach)
# 1. Paczka Mini (Smoke test) - Wklej tutaj link do knee_multicoil_val.tar.gz
FASTMRI_MINI_URL=""

# 2. Pełny Klaster (Full) - Wklej wszystkie linki po przecinku (np. train_batch_0, train_batch_1, val, test)
FASTMRI_FULL_URLS=""
